h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: aliceblue;
}

.header {
  background-color: #f0ddb8;
  border-radius: 25px;
  margin: 25px;
}
