.anim-wrapper {
  height: 20%;
  animation: 2s linear 0s 1 alternate sun-rise;
}

@keyframes sun-rise {
  from {
    transform: translateX(15%);
  }
  to {
    transform: translateX(0);
  }
}

.horzontial-container {
  padding: 2rem;
}

.text-field {
  text-align: left;
}

.subtext {
  padding-bottom: 0.25rem;
  font-size: 22px;
}

.title {
  padding-bottom: 0.25rem;
  font-size: 26px;
}

.content {
  border-radius: 5px;
  padding-left: 5px;
}

img {
  border-radius: 5px;
}

.btn {
  margin: 0 1rem 0 0.5rem;
}

.button-container {
  padding-top: 20px;
}
